.logo {
  position: absolute;
  width: 90px;
  height: 31px;
  left: 19px;
  top: 12px;
}

.headerContainer {
  width: 320px;
  height: 56px;
}
.logout {
  position: absolute;
  left: 0%;
  right: 25%;
  top: 0%;
  bottom: 0%;
}
